@import '@styles/common.scss';

.container {
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.appointments {
  position: relative;
  background: $white;
  border-radius: $border-radius;
  margin-left: 15px;

  &_header {
    @include flex(space-between, center);

    position: sticky;
    z-index: 122;
    width: calc(100% + 260px);
    margin: 0 0 10px -315px;
    padding: 22px 30px 20px;
    top: -2px;
    background: $white;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &_title {
      margin: 0;
      font-size: 24px;
      white-space: nowrap;
    }

    &_header {
      @include flex(center, center);

      gap: 10px;
    }

    &_button {
      width: 180px;
      height: 40px;
      font-size: 16px;
    }

    &_icon {
      display: none;
    }
  }

  &_content {
    position: relative;
    display: grid;
    width: calc(100% - 30px);
    padding: 15px;

    &_content {
      display: grid;
      padding-left: 50px;

      &_day {
        position: relative;
        border-left: 1px solid $light-grey;
        cursor: pointer;

        &_weekend {
          padding-top: 30px;
          color: $white;
          background: $persian-red;
          pointer-events: none;
          cursor: default;

          &_title {
            position: sticky;
            top: 100px;
          }
        }

        &_title {
          margin: 0 auto;
          line-height: 22px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .container {
    grid-template-columns: 1fr;
  }

  .appointments {
    margin: 0;

    &_header {
      margin: 0;

      &_icon {
        @include size(30px);

        display: block;
        cursor: pointer;
        transform: rotate(90deg);
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .appointments {
    &_header {
      width: calc(100% - 40px);
      padding: 15px 20px;

      &_title {
        font-size: 18px;
      }

      &_button {
        width: auto;
        height: 34px;
        font-size: 14px;
      }

      &_icon {
        @include size(26px);
      }
    }

    &_content {
      &_content {
        padding-left: 45px;

        &_day {
          &_title {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .appointments {
    &_header {
      width: calc(100% - 30px);
      padding: 15px;

      &_title {
        font-size: 14px;
      }

      &_button {
        width: 120px;
        height: 30px;
        font-size: 12px;
      }

      &_icon {
        @include size(22px);
      }
    }

    &_content {
      &_content {
        padding-left: 36px;
      }
    }
  }
}
