// Colors
$dark-blue: #003b5e;
$cyan-blue: #00a9e0;
$light-blue: #f1f5f8;
$white: #fff;
$persian-red: #623036;
$reddish: #ff4d4f;
$dark-grey: #5d5d5d;
$grey: #99979e;
$light-grey: #b6bbbe;

// Other
$border-radius: 5px;