@import '@styles/common.scss';

.container {
  position: sticky;
  top: 100px;
  margin-top: 100px;
  height: fit-content;
}

.button {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.select {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
}

.calendar {
  width: 300px;

  &_day {
    text-align: center;
    transition: 0.2s all;

    &_active,
    &:hover {
      background-color: $dark-blue;
      color: $white;
    }

    &_holiday {
      background: $persian-red;
      color: $white;

      &:hover {
        background-color: $persian-red;
        color: $white;
      }
    }
  }
}