@import '@styles/common.scss';

.tables {
  @include flex(normal, normal, column);

  &_header {
    @include flex(space-between, center);
  }

  &_buttonContainer {
    @include flex(normal, flex-end, row);

    align-self: end;

    &_mob {
      display: none;
    }

    &_button {
      height: 35px;
      min-width: fit-content;
      margin-left: 10px;
      overflow: hidden;
      color: $white;
      border-radius: 5%;
    }

    &_button:hover {
      color: $white;
    }
  }

  &_addBotton {
    margin-top: 1rem;
  }

  &_table {
    margin-top: 1rem;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;

    table {
      thead {
        tr {
          th {
            font-weight: bold !important;
          }
        }
      }

      tbody {
        tr {
          td {
            white-space: nowrap !important;
            cursor: pointer;
          }
        }
      }
    }
  }

  .more-columns-dropdown {
    position: absolute;
    z-index: 10;
    top: 185px;
    right: 16px;
    min-width: 10%;
    color: $dark-blue;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 3px -2px rgba(0, 0, 0, 0.3), 0 1px 8px 0 rgba(0, 0, 0, 0.3);

    label {
      margin: 0;
    }
  }

  .option {
    @include flex(flex-start, flex-start);

    margin: 0;
    padding: 20px 40px 20px 20px;
    border-bottom: 1px solid $grey;
  }
}

@media screen and (max-width: 768px) {
  .tables {
    &_buttonContainer {
      display: none;

      &_mob {
        display: block;
        position: relative;

        &_buttons {
          position: absolute;
          top: 100%;
          right: 0;
          z-index: 120;
          background: $white;
          border-radius: $border-radius;
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 3px -2px rgba(0, 0, 0, 0.3), 0 1px 8px 0 rgba(0, 0, 0, 0.3);

          button {
            margin: 0;
            color: $dark-blue;
          }
        }

        img {
          cursor: pointer;
          width: 32px;
        }
      }
    }

    &_table {
      table {
        thead,
        tbody {
          th,
          td {
            font-size: 12px;
          }
        }
      }
    }

    .more-columns-dropdown {
      top: calc(100% + 10px);
      right: 0;
      min-width: 300px;
    }
  }
}
