@import '@styles/common.scss';

.container {
  @include flex(center, center);

  margin-top: 20px;
}

.day {
  width: 380px;
  text-align: center;
  margin: 0 15px;
  font-size: 24px;
}

.arrow {
  @include size(20px);

  cursor: pointer;

  &_right {
    transform: rotateY(180deg);
  }
}