@import '@styles/common.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 180px;
  position: relative;
  margin-top: 20px;
}

.content {
  @include flex(center, center);

  width: calc(100% + 180px);
}

.day {
  cursor: pointer;
  width: 380px;
  text-align: center;
  margin: 0 15px;
  font-size: 24px;
}

.arrow {
  @include size(20px);

  cursor: pointer;

  &_right {
    transform: rotateY(180deg);
  }
}

.calendar {
  width: 400px;
  position: absolute;
  z-index: 111;
  top: 50px;
  left: 50%;
  border: 1px solid $grey;
}
