@import '@styles/common.scss';

.container {
  padding: 10px 16px;
}

.header {
  @include flex(space-between, center);
}

.logo {
  @include flex($align: flex-end);

  gap: 15px;
  height: 50px;

  img {
    height: 100%;
    border-radius: $border-radius;
  }

  p {
    margin: 0;
    font-size: 42px;
    line-height: 40px;
    font-weight: 300;
  }
}

.profile {
  @include flex($align: center);

  position: relative;
  gap: 20px;

  &_content {
    @include flex(center, center);
    @include size(50px);

    cursor: pointer;
    border-radius: 100px;
    background: $dark-blue;
    color: $white;
  }
}

.content {
  &_links {
    @include flex($align: center);

    margin-top: 10px;
    padding: 5px 0;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    gap: 10px;
  }

  &_link {
    padding: 10px;
    transition: all 0.2s;
    border-radius: 5px;

    &:hover,
    &_active {
      color: $white;
      background: $dark-blue;
    }
  }
}