@import '@styles/common.scss';

.container {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  @include flex(space-between, center);

  margin: 10px 0 20px;

  p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }

  &_buttons {
    @include flex($align: center);

    gap: 10px;

    button {
      min-width: 100px;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
}

.description {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 15px;

  p {
    margin: 0;
  }
}

.day {
  text-align: center;

  &_holiday {
    background: $persian-red;
    color: $white;

    &:hover {
      background-color: $persian-red;
      color: $white;
    }
  }

  &_selected {
    background-color: $dark-blue;
    color: $white;
  }
}

@media screen and (max-width: 768px) {
  .header {
    p {
      font-size: 16px;
    }

    &_buttons {
      button {
        font-size: 13px;
      }
    }
  }
}
